<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="2">
    <title>Document</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>

    <div id="myDiv" style="width:1000px;height:1000px;"></div>

    

<script>
        var data = [
  {
    z: {{image|safe}},
    type: 'heatmap',
    colorscale: 'Jet',
    zmin: 0,
    zmax: 1023
  }
];

Plotly.newPlot('myDiv', data);
    </script>
</body>
</html>